:local(.dropZone) {
    position: relative;
    height: 200px;
    border-width: 8px;
    border-color: #666666;
    border-style:  dashed;
    border-radius: 5px;
    font-size: 3em;
    line-height: normal;
    color: #727272;
    padding: 0.2em;
    text-align: center;
}

:local(.accepted) {
    border-color: #77ee88;
}

:local(.rejected) {
    border-color: #ee5555;
    font-size: 2em;
}

:local(.onDragActive) {
    border-width: 9px;
    background-color: #cdcdcd;
}

